<div class="p-4">
  <h4 class="fst-italic">Archives</h4>
  <ol class="list-unstyled mb-0">
    <% @archives.each do |month_year, count| %>
      <li>
        <%= link_to "#{month_year} (#{count})", articles_path(month_year: month_year),
            class: "nav-item nav-link link-body-emphasis #{month_year.to_s == params[:month_year] ? 'category-active' : ''}" %>
      </li>
    <% end%>
  </ol>
</div>
