<h1>Articles</h1>
<ul>
  <%# aqui a view mostra todos os titulos de arquivos puxados no banco pelo controller%>
  <% @articles.each do |article|%>
    <li>
      <%= article.title%>
    </li>
  <% end %>
</ul>
